.shop-header {
    .disabled-link {
        pointer-events: none;
        cursor: default;
        color: grey;
    }
}

.products {

    .title {
        text-decoration: none;
        color: black;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}